# Basic Statistics_level 1 Question 8

Q8) Calculate Expected Value for the problem below:
a)The weights (X) of patients at a clinic (in pounds), are 108, 110, 123, 134, 135, 145, 167, 187, 199
Assume one of the patients is chosen at random. What is the Expected Value of the Weight of that patient?

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

In [5]:
Patient_list = [108, 110, 123, 134, 135, 145, 167, 187, 199]

In [6]:
Q8 = pd.DataFrame(Patient_list)

In [7]:
Q8

     0
0  108
1  110
2  123
3  134
4  135
5  145
6  167
7  187
8  199

In [11]:
expected_value = round(np.mean(Q8),2)
expected_value

0    145.33
dtype: float64